@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Plates</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/flat-able-lite/dist/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/flat-able-lite/dist/assets/css/style.css">



</head>
<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-white bg-primary ">
                        <h5 class="card-header text-white">En Fazla Olan Plaka</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["plateMax"] -- @ViewData["countMaxPlate"] adet</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white bg-success ">
                        <h5 class="card-header text-white">En Az Olan Plaka</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["plateMin"] -- @ViewData["countMinPlate"] adet</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white bg-warning ">
                        <h5 class="card-header text-white">En Çok Tercih Edilen Vites Türü</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["shiftType"] -- @ViewData["shiftTypeCount"] adet</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white bg-secondary ">
                        <h5 class="card-header text-white">En Fazla Olan Araç Markası</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["brandMax"] -- @ViewData["countMaxBrand"] adet</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card text-white bg-danger ">
                        <h5 class="card-header text-white">En Az Olan Araç Markası</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["brandMin"] -- @ViewData["countMinBrand"] adet</h5>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card text-white bg-info ">
                        <h5 class="card-header text-white">En Fazla Tercih Edilen Yakıt Türü</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["fuelType"] -- @ViewData["fuelTypeCount"] adet</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card text-white bg-info " f>
                        <h5 class="card-header text-white">En Fazla Tercih Edilen Renk</h5>
                        <div class="card-body">
                            <h5 class="card-title text-white">@ViewData["colorType"] -- @ViewData["colorTypeCount"] adet</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <form method="post" id="searchForm">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Ara" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Ara</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="searchResult">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Yakıt Tipi</th>
                            <th>Renk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <var searchResultTable=document.getElementById("searchResult").getElementsByTagName("tbody")[0];
                             searchResultTable.innerHTML="" ;
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/flat-able-lite/dist/assets/js/vendor-all.min.js"></script>
    <script src="~/flat-able-lite/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/flat-able-lite/dist/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <script src="~/flat-able-lite/dist/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="~/flat-able-lite/dist/assets/js/pages/dashboard-main.js"></script>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Formun submit olayını engelle

            var searchKeyword = document.getElementsByName("keyword")[0].value;
            // Send the search keyword to the server using AJAX
            fetch(`/Default/Search?keyword=${encodeURIComponent(searchKeyword)}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // JSON verilerini konsolda göster
                    // Display search results in the table
                    var searchResultTable = document.getElementById("searchResult").getElementsByTagName("tbody")[0];
                    searchResultTable.innerHTML = "";
                    data.forEach(item => {
                        var row = searchResultTable.insertRow();
                        row.insertCell().innerText = item.brand;
                        row.insertCell().innerText = item.fuel;
                        row.insertCell().innerText = item.color;
                    });
                });
        });
    </script>
</body>
</html>
